
body {
    background-color: #12557a;  
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #40addf;  
    padding: 16px;
}

.header-logo {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 16px;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 18px;
}

.header-nav a {
    color: white;
    text-decoration: none;
    padding: 14px ;
    border-radius: 16px;
}

.header-nav a:hover {
   text-decoration: underline;
}

.header-nav-active {
    background-color: #12557a;  
    color: black;
    pointer-events: none;
}


.main-title {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 40px 0 30px;
}


form {
    width: 40%;
    margin: 0 auto 60px;
}

fieldset {
    background-color: #213343; 
    border: none;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 5px 15px -6px black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

legend {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: right;
    font-size: 16px;
    margin: 0 0 20px 0;
}


label {
    font-weight: 600;
    font-size: 16px;
}


input[type="text"],
input[type="email"],
textarea {
    font-size: 16px;
    padding: 12px 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #ccc;
}

button {
    margin-top: 20px;
    background-color: #40addf;
    color: #ffffff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    padding: 16px 10px;
    text-align: center;
    cursor: pointer;
    border: none;

}

button:hover {
    background-color: #3494c1;   
    transform: scale(1.05); 
    color: white;
}

#whatsapp-float-button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 1000;
}

#whatsapp-float-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out;
}

#whatsapp-float-button:hover img {
    transform: scale(1.1);
}
